<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>FarmCon.com.servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>FarmCon.com.servlets.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>FarmCon.com.servlets.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FarmerOptForAuction</servlet-name>
        <servlet-class>FarmCon.com.servlets.FarmerOptForAuction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FarmerDisplayProducts</servlet-name>
        <servlet-class>FarmCon.com.servlets.FarmerDisplayProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminViewFarmer</servlet-name>
        <servlet-class>FarmCon.com.servlets.AdminViewFarmer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminViewCustomer</servlet-name>
        <servlet-class>FarmCon.com.servlets.AdminViewCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminViewAuction</servlet-name>
        <servlet-class>FarmCon.com.servlets.AdminViewAuction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminViewProduct</servlet-name>
        <servlet-class>FarmCon.com.servlets.AdminViewProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminViewInvoice</servlet-name>
        <servlet-class>FarmCon.com.servlets.AdminViewInvoice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowBids</servlet-name>
        <servlet-class>FarmCon.com.servlets.ShowBids</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>FarmCon.com.servlets.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertInvoiceData</servlet-name>
        <servlet-class>FarmCon.com.servlets.InsertInvoiceData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendInvoice</servlet-name>
        <servlet-class>FarmCon.com.servlets.SendInvoice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAuctionProduct</servlet-name>
        <servlet-class>FarmCon.com.servlets.ShowAuctionProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterBid</servlet-name>
        <servlet-class>FarmCon.com.servlets.RegisterBid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>FarmCon.com.servlets.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FarmerOptForAuction</servlet-name>
        <url-pattern>/FarmerOptForAuction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FarmerDisplayProducts</servlet-name>
        <url-pattern>/FarmerDisplayProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminViewFarmer</servlet-name>
        <url-pattern>/AdminViewFarmer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminViewCustomer</servlet-name>
        <url-pattern>/AdminViewCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminViewProduct</servlet-name>
        <url-pattern>/AdminViewProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminViewAuction</servlet-name>
        <url-pattern>/AdminViewAuction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminViewInvoice</servlet-name>
        <url-pattern>/AdminViewInvoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowBids</servlet-name>
        <url-pattern>/ShowBids</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertInvoiceData</servlet-name>
        <url-pattern>/InsertInvoiceData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendInvoice</servlet-name>
        <url-pattern>/SendInvoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAuctionProduct</servlet-name>
        <url-pattern>/ShowAuctionProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterBid</servlet-name>
        <url-pattern>/RegisterBid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
